<!DOCTYPE html>
<html>
<head>
    <title>Team Toppers</title>
</head>
<body>
    <h1>Topper of Each Team</h1>
    <table border="1">
        <tr>
            <th>Team Number</th>
            <th>Username</th>
            <th>Total Score</th>
        </tr>
        {% for user in toppers %}
        <tr>
            <td>{{ user.team_number }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.total_score }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('scoreboard') }}">← Back to Scoreboard</a>
</body>
</html>
